<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>9T2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B10FEBF10EA00D614040ED8EE292899D3AFF6D8E</string>
				<key>dateExpires</key>
				<string>05/09/1448 AH</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZSZ27L3BSU.Ju.com.-T2</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>ZSZ27L3BSU</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>9T2.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2fa0a95a-f02a-4805-8cae-b2970de175ae</string>
				<key>dateExpires</key>
				<string>05/09/1448 AH</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: Ju.com.-T2</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZSZ27L3BSU</string>
				<key>name</key>
				<string>Jumana AL tarfan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
